.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0;bottom: 0;right: 0;left: 0;

}

.sidemenu{
  width: 260px;
  padding: 10px;
  color: white;
  background-color: #202123;
}

.chatbox {
  flex: 1;
  background-color: #343542;
  position: relative;
}

.new-chat-button{
  border: 1px solid white;
  padding: 12px;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.5s all;
}

.new-chat-button:hover{
  background-color: #474646;
  cursor: pointer;
}

.chat-input-holder{
  padding: 12px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.chat-input-textarea{
  background-color: #2a2a2b;
  width: 90%;
  border: none;
  border-radius: 5px;
  margin: 12px;
  outline: none;
  color: white;
  padding: 12px;
  font-size: 1.2rem;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
